<%= link_to flat_path(flat) do %>
  <div class="card-trip">
    <img src= <%= "https://source.unsplash.com/400x300/?#{flat.address}" %> />
    <h2 class="card-trip-number-of-guests"><i class="fas fa-users"></i> <%= flat[:number_of_guests] %></h2>
    <div class="card-trip-infos">
      <div>
        <h2><%= flat.address %></h2>
        <p><%= flat.name %></p>
      </div>
      <h2 class="card-trip-pricing">CHF <%= flat.price_per_night %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
<% end %>
